# Generated
node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/gen/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.swp
*.swo

# Build
*.tsbuildinfo

# Env files  
.env
.env.local
.env.production.local
